html {
  box-sizing: border-box;
  background: black;
}
a-scene {
  height: 612px;
  width: 700px;
  }

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.personName {
  color: chartreuse;
}

/* .aframe_wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
} */


.gif_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.SpeechToText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.SpeechToText {
  align-self: center;
  border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;

}



.app {
  color: rgba(224, 54, 224, 0.798);
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(102, 51, 153, 0.618);
}

nav ul {
  list-style: none;
  display: flex;
  background-color: rgba(212, 255, 0, 0.896);
  margin-bottom: 20px;
  font-size: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: limegreen;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}